.signup{
    width: 40%;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff7f2;
    border-radius: 50px;
    border: dashed 10px var(--color-primary);
}
.close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close_button{
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    background-color: var(--color-primary);
    align-self: center;

}
.close_button:hover{
    cursor: pointer;

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.title h1{
    margin: 0;
    margin-left: 25px;
    font-size: 3.7vw;
}
.title img{
    margin: 0;
    margin-top: -15%;
    width:34vw;
}
.signup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}
.formfield input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 2vw;
    border: 0.3vw solid  var(--color-accent);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}
.formfield input::placeholder{
    text-align: center;
    font-size: 2vw;
    color: #7B7B7B;
    font-style: italic;
    opacity: 1;
}
.signup_button{
    padding: 4%;
    margin: 10px;
    width: 55%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.7vw;
    font-weight: bold;
    border: 0.3vw solid var(--color-accent);
    border-radius: 50px;
    background-color: var(--color-primary);
    align-self: center;

    &:disabled{
        cursor: not-allowed;
    }
}
.signup_button:hover{
    cursor: pointer;
}
.error{
    color: red;
}