.chat{
    background-color: var(--color-secondary);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chat_name{
    background-color: var(--color-active-secondary);
    padding-top: 10px;
    padding-bottom: 10px;
}
.chat_content{ 
    background-color: var(--background-secondary);
    flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
    padding: 10px;
    margin-bottom: 80px
}
.msg{
    display: flex;
    justify-content: flex-start;
}
.msg-sender{
    display: flex;
    justify-content: flex-end;
}
.receptor_img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.msg_content{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    max-width: 50%;
}
.msg_content_sender{
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    max-width: 50%;
}

.chat_bar{
    background-color: var(--color-active-secondary);
    height: 60px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky; /* Hace que la barra permanezca pegada al fondo */
    bottom: 0; /* Pega la barra al fondo */
}

.chat_bar input{
    width: 80%;
    border-radius: 20px;
    border: 0;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    font-size: large;
}
.chat_options{
    display: flex;
}
.chat_options button{
    color: aliceblue;
    font-size: larger;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-accent);
    border-radius: 20px;
}
.chat_options button:hover{
    background-color: var(--color-active);
    transition: background-color 100ms linear;
}