.header{
    margin: 0;
    height: calc(13vh-5px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 8px 15px rgb(148, 148, 148);
}
.header_logo{
    width: 31vh;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 1vwx;
}
.opciones {
    height: 100%;
    display: flex;
    justify-content: center;  /* Centra el ul horizontalmente */
    align-items: center;  /* Centra el ul verticalmente */
}

.nav {
    display: flex;
    list-style-type: none;
    height: 100%;
    justify-content: center;
    align-items: center;  /* Centra los li dentro del ul */
}

li {
    padding: calc(10px + 20px) 20px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Asegura que el contenido del li esté centrado */
}

li:hover, li:active {
    background-color: var(--color-active);
    color: white;
}
.profile_picture{
    align-self: end;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    margin: 10px;
    margin-right: 5%;
    position: relative;
}
.profile_picture img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.status_circle {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: rgb(72, 255, 72);
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
