.main{
    display: flex;
    width: 100%;
    height: calc(100vh - (13vh - 5px )) ;
    margin: 0;
}
.chat_list{
    background-color: var(--background-color);
    margin: 0;
    flex: 0.4;
    display: flex;
    flex-direction: column;
    border-right: dashed 4px var(--color-primary);
}
.chat_space{
    width: 100%;
    background-color: blueviolet;
}